body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 90px;
    border: 1px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  #chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  #chat-header h1 {
    font-size: 24px;
    text-align: center;
    margin-left: 10px;
  }
  #chat-header img {
    height: 50px;
    margin-right: 10px;
  }
  #chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  #chat-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  #chat-form input[type="text"],
  #chat-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
  }
  #chat-form textarea {
    height: 100px;
  }
  #chat-form input[type="submit"] {
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin: 0px 30%;
  }
  #chat-form input[type="submit"]:hover {
    background-color: black;
    
  }
  
  .message {
    background-color: #f1f1f1;
    
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .message h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: orange;
  }
  .message p {
    margin: 0;
    
  }


  @media screen and (max-width: 768px) {
    /* Styles CSS pour les écrans de moins de 768 pixels de large */
    #chat-container {
      padding: 20px;
    }
    #chat-header {
      flex-direction: column;
    }
    #chat-header h1 {
      margin-top: 10px;
      margin-bottom: 0;
    }
    #chat-header img {
      margin-bottom: 10px;
    }
    #chat-form input[type="submit"] {
      width: 60%;
      margin: 0px 20%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles CSS pour les tablettes */
    #chat-container {
      max-width: 80%;
      padding: 20px;
    }
    #chat-header h1 {
      font-size: 20px;
    }
    #chat-form input[type="submit"] {
      width: 80%;
      margin: 0px 10%;
    }
  }